body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container {
display: inline-block;
}
.text{
font-size : 5em;
letter-spacing: 10px;
border-right: 5px solid;
width: 100%;
white-space: nowrap;
overflow: hidden;
animation:
typing 2s,
cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
    border-color: transparent
    }
}

@keyframes typing {
from {
width: 0
}
}

a#register , a#login{

  margin-left: 30%;
  background-color: #f0f0f0;

  border: none;
  font-family: monospace;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  margin-right: 20px;
  color: #333;
}
a#register:hover,a#login:hover{
  background-color: green;
}
